* {
	padding: 0;
	margin: 0;
	top: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

/* class dùng chung  */
a {
	text-decoration: none;
}

li {
	list-style: none;
}

.btn {
	line-height: 52px;
	font-weight: 700;
	font-size: 14px;
	padding: 0px 30px;
	color: #dc4f72;
	border-color: #dc4f72;
	transition: all 0.4s;
}

.btn:hover {
	background-color: #dc4f72;
	cursor: pointer;
	color: #fff;
}

.sub_title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #dc4f72;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.img_top {
	width: 100%;
	height: auto;
	border-radius: 6px;
	transition: 0.3s;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.img_top:hover {
	transform: translateY(-0.5rem);
	transition: 0.3s;
}

/* header */
.main_header {
	background-color: #fff;
	transition: 0.4s;
	height: auto;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
	padding: 10px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

header.nav-fixed {
	top: 0;
	padding: 0px;
	border-bottom: none;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar {
	padding: 0;
}

.navbar .navbar-brand {
	font-size: 26px;
	font-weight: 700;
	text-transform: capitalize;
	color: #dc4f72;
	cursor: pointer;
}

.navbar-light .navbar-brand:hover {
	color: #dc4f72;
}

.navbar .nav-item .nav-link {
	transition: all 0.5s ease;
	padding: 14px 14px;
	font-size: 16px;
	font-weight: 400;
	color: #2c3038;
}

.nav-fixed .navbar-nav .nav-link {
	color: #5a5a5a;
	opacity: 0.95;
}

.navbar .nav-item {
	position: relative;
	transition: 0.5s;
}

.nav-item .nav-link::before,
.dropdown-item::before {
	position: absolute;
	content: "";
	background-color: #dc4f72;
	width: 0px;
	height: 2px;
	bottom: 13px;
	transition: 0.5s;
}

.navbar .nav-item .nav-link:hover {
	color: #dc4f72;
}

.navbar .nav-item:hover .nav-link::before {
	width: 20px;
	color: #dc4f72;
}

a.dropdown-item:hover {
	color: #dc4f72;
	background-color: #fff;
}

a.dropdown-item:hover::before {
	width: 20px;
}

.nav-item .dropdown-menu .dropdown-item:hover .nav-link::before {
	width: 0;
	color: #000;
}

.nav-item .active {
	color: #dc4f72 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	transform: translateX(-50px);
}

.navbar-expand-lg .navbar-nav .show::after {
	color: #dc4f72;
}

.navbar-nav .dropdown-menu:before {
	content: "";
	width: 14px;
	height: 14px;
	background-color: #fff;
	border: 1px solid #b7b7b7;
	display: block;
	border-right: none;
	border-bottom: none;
	transform: translateX(-50%) rotateZ(45deg);
	position: absolute;
	top: -7px;
	left: 49%;
	z-index: 1001;
}

.search a i {
	color: #5a5a5a;
	font-size: 15px;
	opacity: 0.7;
	width: 40px;
	height: 40px;
	line-height: 38px;
	background: #f7f9fc;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #eee;
}

.search a i:hover {
	color: #000;
	opacity: 1;
}

.btn_mode {
	font-size: 24px;
}

.search .search_ovelay {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	transition: 0.3s;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	background-color: #000000ba;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 100%;
}

.search .search_ovelay:target {
	visibility: visible;
	opacity: 1;
}

.search_ovelay .popup {
	position: relative;
	margin: 0rem auto;
	padding: 15px;
	top: 50%;
	max-width: 600px;
}

.search .popup form input[type="search"] {
	font-size: 16px;
	line-height: 25px;
	color: #b7b7b7;
	height: 55px;
	padding: 15px 20px 12px;
	background: #131617;
	width: 100%;
	border: 1px solid #333;
	border-radius: 0;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-right: none;
}

.search .popup form .btn {
	font-size: 17px;
	line-height: 28px;
	text-align: center;
	color: #f5f9fc;
	font-weight: 500;
	height: 55px;
	border: none;
	background: #dc4f72;
	padding: 0 25px;
	border-left: none;
	border-radius: initial;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}

.search .popup .close {
	position: absolute;
	right: 20px;
	top: -50px;
	transition: all 200ms;
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	opacity: 0.7;
	background: none;
}

/* content */

.content {
	margin-top: 90px;
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
		url(../img/banner.jpg);
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.content .content_title {
	font-size: 50px;
	line-height: 57.5px;
	color: #2c3038;
	font-weight: 700;
}

.content .content_des {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	max-width: 450px;
	color: #5a5a5a;
}

/* business */

.header_business {
	max-width: 750px;
	padding-top: 24px;
}

.header_business h3 {
	color: #2c3038;
	font-size: 46px;
	line-height: 1;
	font-weight: 700;
}

.header_business p {
	margin-top: 20px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22.5px;
	font-weight: 400;
}

.business_item {
	border-radius: 6px;
	transition: 0.3s;
	background: #f7f9fc;
	padding: 3rem 2rem;
	border: 1px solid #f7f9fc;
}

.business_item h3 {
	color: #2c3038;
	font-size: 26px;
	line-height: 35px;
	font-weight: 700;
}

.business_item p {
	margin-top: 15px;
	font-size: 16px;
	line-height: 24.5px;
	color: #5a5a5a;
}

.business_item:hover {
	transition: 0.3s ease-in;
	background: #fff;
	border: 1px solid #f8f9fa;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
	transform: translateY(-0.5rem);
}

/* about */

.about {
	background-color: #f7f9fc;
}

.about_info h3 {
	font-size: 35px;
	line-height: 40px;
	color: #2c3038;
	font-weight: 700;
}

.about_info p {
	font-size: 16px;
	color: #5a5a5a;
	line-height: 24px;
}

.about_info a .btn {
	background-color: #dc4f72;
	color: #fff;
}

.about_item {
	background-color: #fff;
	padding: 2rem;
	border-radius: 6px;
	transition: 0.3s;
	border: 1px solid #f8f9fa;
	box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.about_item h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #2c3038;
}

.about_item .counter {
	font-size: 40px;
	line-height: 1;
	color: #dc4f72;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 10px;
}

.about_item p {
	font-size: 16px;
	color: #5a5a5a;
	line-height: 24px;
}

.about .btn:hover {
	color: #fff;
	background-color: #d62f58;
	border-color: #cf2952;
}

/* resolution */
.resolution {
	background: linear-gradient(to right,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.33)),
		url(../img/bg.jpg);
	background-position-y: 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	min-height: 480px;
	/* width: 100%; */
	padding: 2rem 0;
}

.resolution h2.mb-4 {
	font-weight: 700;
}

.resolution .col-5 {
	width: 580px;
}

.resolution .btn-light {
	background-color: white;
	border-color: white;
	color: black;
	transition: all 0.5s;
}

.resolution .container .row .col-5 p {
	color: white !important;
}

.resolution .btn-light:hover {
	background-color: #e2e6ea;
	border-color: #e2e6ea;
	color: #212529;
}

/* question */
.question {
	background-color: #f7f9fc;
}

.question_header {
	padding-top: 60px;
}

.question_header h3 {
	color: #2c3038;
	font-size: 46px;
	line-height: 1;
	font-weight: 700;
}

.question_header p {
	max-width: 750px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22.5px;
	font-weight: 400;
	margin: auto;
}

.question .row {
	padding-bottom: 40px;
}

.faq_question ul {
	max-width: 750px;
}

.faq_question ul li {
	position: relative;
	padding: 25px 50px 25px 20px;
	border: 1px solid #eee;
	margin-bottom: 15px;
	border-radius: 6px;
	background-color: #fff;
}

.faq_question ul li input {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	top: 0;
	left: 0;
}

.faq_question ul li i::before {
	content: "";
	position: absolute;
	background-color: #2c3038;
	width: 3px;
	height: 8px;
	transform: translate(-2px, 0) rotate(45deg);
	transition: 0.3s;
}

.faq_question ul li i::after {
	content: "";
	position: absolute;
	background-color: #2c3038;
	width: 3px;
	height: 8px;
	transform: translate(2px, 0) rotate(-45deg);
	transition: 0.3s;
}

.faq_question ul li i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 10px;
	right: 25px;
	top: 16px;
}

.faq_question h2 {
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
	display: block;
	margin: 0;
	cursor: pointer;
	color: #2c3038;
}

.faq_question p {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2;
	transition: 0.3s;
}

.faq_question ul li input[type="checkbox"]:checked~p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transition: 0.3s;
	transform: translate(0, 50%);
}

.faq_question ul li input[type="checkbox"]:checked~i::before {
	transform: translate(2px, 0) rotate(45deg);
}

.faq_question ul li input[type="checkbox"]:checked~i::after {
	transform: translate(-2px, 0) rotate(-45deg);
}

/* featured */

.featured {
	background-color: #fff;
}

.header_featured {
	padding-top: 40px;
}

.header_featured h3 {
	color: #2c3038;
	font-size: 46px;
	line-height: 1;
	font-weight: 700;
}

.header_featured p {
	max-width: 750px;
	color: #2c3038;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
}

.content_featured h3 {
	color: #2c3038;
	margin-bottom: 16px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.content_featured p {
	color: #5a5a5a;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.6rem;
}

.content_featured img {
	width: 100%;
	height: auto;
}

#horizontalTab {
	display: block;
}

.content_featured .resp-tabs-list li {
	font-weight: 700;
	font-size: 22px;
	margin: 0;
	cursor: pointer;
	width: 33.333%;
	text-align: center;
	color: #2c3038;
	background: #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #ccc;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.content_featured .resp-tab-active {
	margin-bottom: -1px !important;
	border-bottom: 3px solid #dc4f72 !important;
	color: #dc4f72 !important;
}

.content_featured .resp-tab-content {
	border: none;
	padding-top: 24px;
}

/* light themes */
#myBody {
	background-color: white;
}

#switchButton {
	background: none;
	border: none;
	padding: 0;
	color: black;
}

#switchButton .fa-sun {
	display: none;
}

#switchButton .fa-moon {
	display: block;
}

/* Dark Theme */
.dark#myBody,
.dark .featured {
	background-color: #131617 !important;
}

.dark h3 {
	color: #eee !important;
}

.dark p {
	color: #b7b7b7 !important;
}

.dark header,
.dark .main_header a {
	background-color: #131617;
	color: #fff !important;
}

.dark .nav-item a.nav-link {
	color: #eee !important;
	opacity: 0.95;
}

.dark .nav-fixed .navbar-nav .nav-link,
.dark .nav-fixed #switchButton .fa-sun {
	color: #b7b7b7 !important;
}

.dark .nav-fixed .nav-item .dropdown-toggle::after {
	color: #eee;
}

.dark .nav-item a.nav-link.active {
	color: #dc4f72 !important;
}

.dark .search .fa-solid {
	background-color: #191c1d;
	border: 1px solid #333;
	color: #b7b7b7;
}

.dark .dropdown-menu::before {
	background-color: #131617;
	box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
	border-top: 1px solid #333;
	border-left: 1px solid #333;
}

.dark .dropdown-menu {
	background-color: #131617;
	box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
	border: 1px solid #333;
}

.dark #switchButton {
	background: none;
	border: none;
}

.dark #switchButton .fa-sun {
	display: block;
	color: #eee;
}

.dark #switchButton .fa-moon {
	display: none;
}

/* dark content */
.dark .content {
	background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.92)),
		url(../img/banner.jpg);
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: #fff !important;
}

/* dark business */
.dark .business_item {
	background-color: #191c1d;
	border: 1px solid #191c1d;
}

.dark .business_item:hover {
	background-color: #131617;
}

/* dark about */
.dark .about {
	background-color: #191c1d !important;
}

.dark .about_item {
	background-color: #131617;
}

.dark .about_item .counter {
	color: #dc4f72 !important;
}

/* dark question */
.dark .question {
	background-color: #191c1d !important;
}

.dark .faq_question li {
	background-color: #131617;
}

.dark .faq_question li h2 {
	color: #eee;
}

.dark .faq_question li i::before,
.dark .faq_question li i::after {
	background-color: #eee;
}

/* dark featured */

.dark .content_featured .resp-tab-item,
.dark .content_featured .resp-tabs-container {
	background-color: #131617;
	color: #eee !important;
}

.dark input {
	color: white;
	border: 1px solid #131617;
}

/* testimonials */

.testimonials {
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.77)),
		url(../img/b2.jpg);
	background-size: cover;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin-top: 90px;
}

.testimonials .header_testimonials {
	max-width: 750px;
	margin: 0 auto;
}

.testimonials .header_testimonials h3 {
	color: #2c3038;
	font-size: 46px;
	line-height: 1;
	font-weight: 700;
}

.testimonials .header_testimonials p {
	max-width: 750px;
	color: #2c3038;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
}

.testimonials .slider-info {
	max-width: 95%;
	margin: 0 auto;
	padding: 2rem;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 50px;
	background-color: #fff;
	border-radius: 6px;
}

.testimonials .img-circle {
	width: 100px;
	height: 100px;
	display: inline-block;
	overflow: hidden;
	background: #f3f6f9;
	border-radius: 50%;
	border: 3px solid #dc4f72;
}

.testimonials .img-circle img {
	width: 100%;
	min-height: 100%;
	object-position: center;
}

.testimonials .message {
	position: relative;
}

.testimonials .message i {
	font-size: 35px;
	color: #2c3038;
	opacity: 0.2;
	position: absolute;
	top: 0px;
	left: -40px;
	right: 0;
}

.testimonials .message p {
	font-size: 18px;
	line-height: 26px;
}

.testimonials .message .name h4 {
	font-size: 18px;
	color: #dc4f72;
	font-weight: 400;
}

.testimonials .message .name p {
	font-size: 13px;
	color: #5a5a5a;
}

.owl-theme .owl-dots .owl-dot span {
	width: 40px;
	height: 5px;
	margin: 5px 5px;
	background: #fff;
	display: block;
	border: none;
	transition: opacity 0.2s ease;
	border-radius: 0;
	position: relative;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: #dc4f72;
}

.owl-theme .owl-dots .owl-dot:hover span {
	background: #dc4f72;
}

/* dark testimonials */

.dark .testimonials {
	background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.77)),
		url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg) !important;
}

.dark .testimonials .slider-info {
	background-color: #131617;
}

.dark .testimonials .message p {
	color: white !important;
}

.dark .owl-theme .owl-dots .owl-dot span {
	background: #131617;
}

.dark .owl-theme .owl-dots .owl-dot.active span {
	background: #dc4f72;
}

.dark .fa-quote-left:before {
	color: #eee;
}

/* build */
.build .header_build {
	max-width: 750px;
	margin: 0 auto;
}

.build .header_build h3 {
	color: #2c3038;
	font-size: 46px;
	line-height: 1;
	font-weight: 700;
}

.build .header_build p {
	max-width: 750px;
	color: #2c3038;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
}

.build .button-special {
	color: #fff;
	background-color: #dc4f72;
	border-color: #dc4f72;
	margin-left: 12px;
}

.build .button-special:hover {
	color: #fff;
	background-color: #d62f58;
	border-color: #cf2952;
}

/* footer */
footer {
	background: #f7f9fc;
	margin-bottom: 25px;
}

.footer__tag {
	background-color: white;
	padding: 2em;
	border-radius: 6px;
	box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

footer .container h5 {
	font-size: 20px;
	line-height: 25px;
	color: #2c3038;
	margin-bottom: 30px;
	font-weight: 700;
}

footer .contact__form {
	font-size: 18px;
	line-height: 25px;
	color: #2c3038;
	margin-bottom: 30px;
	font-weight: 500;
}

footer .footer_des {
	line-height: 22px;
	color: #5a5a5a;
	font-size: 16px;
}

footer .form-control {
	background: #f7f9fc;
	border: none;
	padding: 12px 20px;
	font-size: 16px;
	outline: none;
	width: 78%;
	color: #2c3038;
	font-weight: 600;
	border-radius: 6px;
}

footer .form-control:focus {
	outline: none;
	box-shadow: none;
	background: #f7f9fc;
}

footer .footer__tag input {
	line-height: 16px;
}

footer .footer__tag button {
	text-align: center;
	background: #dc4f72;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	width: 20%;
	color: #fff;
	border-radius: 6px;
}

footer .contact__form {
	margin-bottom: 30px;
}

.footer__txt li {
	color: #2c3038;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
}

.footer__txt li i {
	font-size: 15px;
	line-height: 36px;
}

footer .container .forhover {
	transition: all 0.5s;
}

footer .container .forhover:hover {
	color: #dc4f72 !important;
}

/* dark footer */

.dark footer {
	background-color: #191c1d;
}

.dark footer .container h5 {
	color: #eee;
}

.dark .footer__tag {
	background-color: #131617;
}

.dark footer .form-control {
	background: #191c1d;
}

.dark footer .contact__form {
	color: #eee !important;
}

.dark footer ul li i {
	color: #eee;
	transition: all 0.5s;
}

.dark footer ul li i:hover {
	color: #dc4f72 !important;
}

/* back to top */

.BackToTop {
	/* display: none; */
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 99;
	border: none;
	outline: none;
	cursor: pointer;
	width: 50px;
	height: 45px;
	line-height: 48px;
	color: white;
	background: #dc4f72;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
	text-align: center;
	border-radius: 3px;
}

.cd-top--is-visible {
	visibility: visible;
	opacity: 0.7;
}

.BackToTop:hover {
	color: #fff;
	opacity: 1;
}

/* responsive */

@media (max-width: 991px) {
	.container {
		max-width: 100%;
	}

	header.main-header {
		height: auto;
		padding: 15px 0;
	}

	.btn {
		line-height: 44px;
		padding: 0px 20px;
	}

	.navbar-toggler {
		border: 0 none;
		font-size: 20px;
	}

	.mode {
		position: absolute;
		position: absolute;
		right: 88px;
		top: 14px;
	}

	.navbar-nav {
		float: left;
		text-align: center;
		width: 100%;
		padding: 20px 0;
	}

	.search {
		text-align: center;
		margin-bottom: 10px;
		display: block;
	}

	.header_button {
		text-align: center;
	}

	.navbar-toggler {
		line-height: 1.2em;
		line-height: 34px;
		background-color: #dc4f72;
		border-radius: 5px;
	}

	.testimonials .message {
		margin-top: 14px;
	}
}

@media (max-width: 1400px) {
	footer .footer__tag button {
		width: 30%;
	}
}

@media (min-width: 767px) {
	footer .footer__input {
		min-width: 50%;
		padding-left: 40px;
	}
}